.header {
	display: flex;
	justify-content: space-between;
	line-height: 2rem;
	padding-top: 32px;
	color: #222;
	text-shadow: 1px 0 0 #67e1fc, 0 1px 0 #67e1fc, -1px 0 0 #67e1fc,
		0 -1px 0 #67e1fc;
}

.headerPortfolio {
	font-size: 40px;
}

.headerLink {
	font-size: 24px;
	margin-left: 40px;
}

.container {
	padding: 0 250px;
	background-color: #fff;
	background-image: radial-gradient(#dad5c2, #fdfdfc);
	z-index: -99;
}

.main {
	position: relative;
	margin-top: 100px;
}

.mainView {
	height: 100vh;
}

.title {
	font-size: 80px;
	line-height: 35vh;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px #555, -1px 1px 1px #555, 1px -1px 1px #555,
		-1px -1px 1px #555, 1px 1px 1px #555, -1px 1px 1px #555, 1px -1px 1px #555,
		-1px -1px 1px #555, 5px 5px #7ce0fe;
	transform: rotate(-4deg);
}

.titleBack {
	background: url(../public/images/homepage.png) no-repeat;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	width: 500px;
	height: 500px;
}

.profile {
	text-align: center;
	margin: 100px 0px 200px;
}

.sectionTitle {
	margin-bottom: 100px;
	text-align: center;
}

.sectionTitle h2 {
	font-size: 72px;
	margin-bottom: 30px;
	color: #fff;
	text-shadow: 1px 1px 1px #555, -1px 1px 1px #555, 1px -1px 1px #555,
		-1px -1px 1px #555, 1px 1px 1px #555, -1px 1px 1px #555, 1px -1px 1px #555,
		-1px -1px 1px #555, 5px 5px #7ce0fe;
}

.profileContent {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.profileContainer {
	position: relative;
	padding-right: 75px;
	border-right: 1px solid #222;
	color: #222;
	text-shadow:5px 5px 10px #7ce0fe;
	z-index: 1;
}

.profileName {
	font-size: 32px;
}

.profileJob {
	margin-bottom: 20px;
}

.profileText {
	text-align-last: left;
}

.profileText p {
	margin-bottom: 20px;
}

.footer {
	width: 100%;
	height: 100px;
	border-top: 1px solid #eaeaea;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer img {
	margin-left: 0.5rem;
}

.footer a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	height: 1em;
}

.careerContainer {
	display: flex;
	justify-content: space-between;
}

.careerBorder {
	border-left: 10px solid #222;
	height: 1500px;
	margin-left: 30px;
}

.careerContent {
	text-align-last: left;
}

.careerWrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 200px;
}

.careerName h4 {
	font-size: 24px;
	margin-bottom: 40px;
	position: relative;
}

.careerName h4::before {
	content: '';
	position: absolute;
	top: 50%;
	left: -85px;
	display: inline-block;
	width: 50px;
	height: 5px;
	background-color: #222;
}

.image {
	margin-left: 75px;
}

.imageBorder {
	border-radius: 50%;
}

.careerName p {
	font-weight: bold;
	color: #7ce0fe;
	background: #fff;
	border: solid 3px #7ce0fe;
	border-radius: 10px;
	padding: 10px;
}

.skillGrid {
	display: grid;
	grid-template-columns: repeat(2, 1fr) auto;
	column-gap: auto;
	row-gap: 60px;
	padding-bottom: 60px;
}

.skillLanguage {
	width: 200px;
	height: 200px;
	text-align: center;
	box-shadow: 10px 10px 15px -10px #222;
	font-size: 24px;
	font-weight: bold;
	color: #67e1fc;
	text-shadow: 2px 1px #fff;
}

.fontIcon {
	width: 100px;
	height: 100px;
	margin-top: 30px;
}

.worksWrapper {
	width: 260px;
	height: 160px;
	background-color: rgba(85, 85, 85, 0.6);
	box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
		rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
		rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.worksWrapper a {
	display: inline-block;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.worksWrapper p {
	text-align: center;
	margin-top: 50px;
	color: #fff;
}

.contactPage {
	text-align: center;
}

.contactfontIcon {
	width: 64px;
	height: 64px;
	margin-right: 50px;
	margin-bottom: 50px;
}

.contactUrl {
	text-align: left;
	margin-bottom: 60px;
	margin-left: 250px;
}

.contactUrl p {
	margin-bottom: 16px;
}

.contactUrl a {
	color: #0000ff;
	text-decoration: underline;
}

.contactUrl a:hover {
	color: #ff0000;
}
