.header {
	display: flex;
	justify-content: space-between;
	line-height: 2rem;
	padding-top: 32px;
	color: #222;
	text-shadow: 1px 0 0 #67e1fc, 0 1px 0 #67e1fc, -1px 0 0 #67e1fc,
		0 -1px 0 #67e1fc;
}

.headerPortfolio {
	font-size: 40px;
}

.headerLink {
	font-size: 24px;
	margin-left: 40px;
}

.container {
	padding: 0 250px;
	background-color: #fff;
	background-image: radial-gradient(#dad5c2, #fdfdfc);
	z-index: -99;
	min-height: 100vh;
}

.main {
	position: relative;
	margin-top: 100px;
	max-width: 940px;
	margin: 100px auto 0;
	min-height: 70vh;
}

.mainView {
	height: 60vh;
	position: relative;
}

.titleWidth {
	width: 70%;
	margin: 250px auto 0px;
}

.title {
	font-size: 88px;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px #555, -1px 1px 1px #555, 1px -1px 1px #555,
		-1px -1px 1px #555, 1px 1px 1px #555, -1px 1px 1px #555, 1px -1px 1px #555,
		-1px -1px 1px #555, 5px 5px #7ce0fe;
	transform: rotate(-4deg);
	border-radius: 20px;
	border-left: 3px solid #A89259;
	box-shadow: 0 5px 6px rgba(0, 0, 0, 0.5);
	background: #67e1fc;
	text-shadow: 0px 3px 0px #aaa, 0px 14px 10px rgba(0, 0, 0, 0.2),
		0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.05);
}

.woman {
	background: url(../public/images/woman.png) no-repeat;
	background-size: contain;
	position: absolute;
	top:60px;
	right: -60px;
	width: 200px;
	height: 200px;
}

.man2 {
	background: url(../public/images/man2.png) no-repeat;
	background-size: contain;
	position: absolute;
	top: -125px;
	left: 200px;
	width: 200px;
	height: 200px;
	transform: rotate(-4deg);
}

.man1 {
	background: url(../public/images/man1.png) no-repeat;
	background-size: contain;
	position: absolute;
	top: 0px;
	left: -55px;
	width: 200px;
	height: 200px;
}



.car {
	background: url(../public/images/car.png) no-repeat;
	background-size: contain;
	position: absolute;
	top: -150px;
	right: 200px;
	width: 200px;
	height: 200px;
	transform: rotate(-4deg);
}

.profile {
	text-align: center;
	margin: 100px 0px 200px;
}

.sectionTitle {
	margin-bottom: 100px;
	text-align: center;
}

.sectionTitle h2 {
	font-size: 72px;
	margin-bottom: 30px;
	color: #fff;
	text-shadow: 1px 1px 1px #555, -1px 1px 1px #555, 1px -1px 1px #555,
		-1px -1px 1px #555, 1px 1px 1px #555, -1px 1px 1px #555, 1px -1px 1px #555,
		-1px -1px 1px #555, 5px 5px #7ce0fe;
}

.footer {
	width: 100%;
	height: 100px;
	border-top: 1px solid #eaeaea;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer img {
	margin-left: 0.5rem;
}

.footer a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	height: 1em;
}

.image {
	margin-left: 75px;
}

.imageBorder {
	border-radius: 50%;
}

.gridStyle {
	display: grid;
	grid-template-columns: repeat(2, 1fr) auto;
	column-gap: auto;
	row-gap: 60px;
	padding-bottom: 60px;
}
